@charset "utf-8";

body{
    background-image : url(../image/haikei.png);
}

#warp{
    width: 960px;
    margin: 30px auto;
}

.header{
    width:100%;
    padding: 5px 0px;
    background-color:#0cf;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.dummy{
    position: static;
  }
  
  .login{
    float: left;
    margin-right: 30px;
    background-color: #f90;
    color:#fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
  }

  /* ログイン後 */
  /* .mypage{
    float: left;
    margin-right: 30px;
    background-color: #f90;
    color:#fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
  }
   */

  
  .btn a:visited{
    color:#fff;
  }
  
  .btn a{
    text-decoration: none;
    color: #fff;
  }
  .btn:hover{
    opacity: 0.8;
  }
.janru:hover{
    opacity:0.8;
    
}


  #toukou0{
    position: fixed;
    bottom: 10.5%;
    right: 0%;
}

#toukou1{
  position: fixed;
  bottom: 11%;
  right:0%;
  opacity: 0;
  
}

#toukou_button img{
    width: 200px;
    height: 160px;
    
}


#toukou1:hover{
    opacity: 1;
}
  
  .sinki{
    float:right;
    background-color: #c06;
    color:#fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
  }
  
  .header-left{
    float: left;
      margin: 10px 0px 0px 10px;
  }
  
  .header-right{
      float: right;
      margin: 22px 30px;
  }

#contens{
    margin: 0px 20%;
    position: relative;
    top: 0;
    left: 0;
}

#content{
    width: 958px;
    /* height: 850px; */
    border: dashed 1px #999;
    margin: 10px 0;
}

 .navBox{
     position: relative;
     width: 850px;
     margin:100px;
 }

 .navBox input{
     cursor: pointer;
     position: absolute;
     top: 0px;
     left: 14px;
     width: 137px;
     height: 44px;
     opacity: 0;
 }

 .navBox input#tab02{
    left: 154px;
 }
 .navBox input#tab03{
    left: 294px;
 }

 .navBox input#tab04{
    left: 431px;
}
.home_daimei{
    width: 300px;
  }

.navBox label{
    background: -webkit-gradient(linear,left top,left bottm,from(#cb8f4b),to(#cfa060));
    border-radius: 8px 8px 0 0 ;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1), -2px 0 6px rgba(0, 0, 0, 0.1);
    color: #fffaf0;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    line-height: 44px;
    position: relative;
    width: 117px;
    height: 44px;
    margin: 0 3px 0 0 ;
    padding: 0 10px;
}

.navBox label.label01{
    margin-left: 14px;
    background-color: #b22222;
    background: -webkit-gradient(linear,left top,left bottm,from(red),to(red));
}
.navBox label.label02{
    background-color: #008b8b;
    background: -webkit-gradient(linear,left top,left bottm,from(royalblue),to(royalblue));
}
.navBox label.label03{
    background-color: #ffcc33;
    background: -webkit-gradient(linear,left top,left bottm,from(yellow),to(yellow));
}
.navBox label.label04{
    background-color: #2e8b57;
    background: -webkit-gradient(linear,left top,left bottm,from(#f0e68c),to(green));
}

.navBox label:after{
    background: #deb887;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
}
.navBox input:checked + label{
    background: #f5deb3;
    color: #ffffff;
}

.navBox .homeContent{
    background: #f5deb3;
    border-radius: 10px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1), -2px 0 6px rgba(0, 0, 0, 0.1);
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.navBox .homeContent section{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 50px 20px;
}

.navBox input.menu01:checked ~ .homeContent .homeContent .clearfix,
.navBox input.menu02:checked ~ .homeContent .content02,
.navBox input.menu03:checked ~ .homeContent .content03,
.navBox input.menu04:checked ~ .homeContent .content04,{
    opacity: 1;
    -webkit-transition: all ease-out 0.4s 0.4s;
    transition: all ease-out 0.4s 0.4s;
}

.homeContent{
    width: 850px;
    height: auto;
    margin: 0 auto 50px auto;
    position: relative;
    z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
    /* background-color: peachpuff; */
}

.clearfix::after{
    display: block;
    content:"";
    clear: both;
}

.toukouPanel{
    margin: 10px 10px;
    float: left;
    width: 500px;
    height: auto;
    border: solid 5px #ffffff;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.toukouPanel p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #996633;
    font-weight: bold;
    border-bottom: thick solid  #ffffff;
    border-radius: 5px;
}

.commentPanel{
    margin: 10px 10px;
    float: right;
    width: 290px;
    height: auto;
    border: solid 5px #ffffff;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.commentPanel p{
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    background-color:#996633;
    font-weight: bold;
    border-bottom: thick solid #ffffff;
    border-radius: 5px;
}

table.toukou{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    margin: 5px 10px 10px 15px;
    width: 470px;
    border: solid 1px black;
}

table.toukou td{
    border: solid 1px black;
}

table.comment{
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    margin: 5px 5px 10px 10px;
    width: 270px;
    height: 200px;
    border: solid 1px black;
}
/* コメント表示機能 */
.comment_none{
    display:none;
}
.comment_none li{
    list-style-type: none;
}


footer{
    width:100%;
    background-color:#0cf;
    text-align: center;
    min-width: 877px;
  }
  
  footer ul {
    margin: 0px;
  }
  
  
  footer ul li{
    display: inline-block;
    margin:40px 60px;
    font-weight: bold;
    color: #fff;
  }
  
  footer ul li a:visited{
      color: #fff;
  }
  
  
  