@charset "utf-8";

body{
  background-image: url("../image/haikei.png");
  background-size: contain;
}

.header{
    width:100%;
    background-color:#0cf;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.sinki_daimei{
  height: 90px;
}

.header-left{
  text-align: center;
}

.daimei{
  margin: 80px auto;
  width:200px;
  background-color: #97d3e3;
  color: #fff;
  line-height: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#sinki_syoudai{
  color: #45A1CF;
 font-size: 25px;
}

#back{
  position: relative;
  top: 82px;
  left: 10px;
}

.backbutton {
  color: #97d3e3;
}

dl {
  text-align: center;
 
}



dd{
  margin-left: 0px;
}

.kome{
  color: #808080;
  padding-top: 5px;
}

#tourokusuru{
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color:  #ff8400;
  border-bottom: 4px solid #ca6900;
  border-radius: 10px;
  margin-bottom: 0px;
}

#tourokusuru:hover{
  opacity: 0.8;
}

#tourokusuru:active{
  cursor: pointer;
  text-decoration: none;
  background-color: #ca6900;
  transform: translate3d( 0, 4px, 0);
  border-bottom: none;
  border-radius: 10px;
}



.tyuukikakko{
  height: 260px;
  width: 160px;
  float: right;
}



section{
  margin: 7% 25%;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 50px;
  min-width: 430px;
}
.syoudai{
  width:80%;
  margin:5px 30px 10px 40px;
}

.nyuuryoku{
  width: 50%;
  line-height: 30px;
}

select{
  width: 30%;
  height: 35px;
}



footer{
  width:100%;
  background-color:#0cf;
  text-align: center;
}

footer ul{
  margin: 0px;
}


footer ul li{
  display: inline-block;
  margin:40px 60px;
  font-weight: bold;
}
footer ul li a{
  color: #fff;
}

footer ul li a:visited{
  color: #fff;
}

#sinki_syoudai{
  text-align: center;
  margin-bottom: 10%;
}


p{
  margin-top: 80px;
}
.touroku{
  text-align: center;
}

.tyuuki{
  float:right;
}


dt{
  margin-top: 5%;
  margin-bottom: 10px;
}

input{
  border-radius: 10px;
}

.tyuuki0{
  width: 150px;
  float: right;
}

.dummy{
  position: static;
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
  
}