/* body {
  display: flex;
  flex-direction: column;
} */

header {
  height: 100px;
  background-color: #888;
  color: #fff;
}

.homeBackground {
  background-color: azure;
}

.homeMainContents {
  margin-left: 20px;
  margin-right: 20px;
  height: 700px;
<<<<<<< HEAD
  background-color: chocolate;
=======
  background-color: #ffd199;
>>>>>>> d062d3d49b9086f0a99f591e8718104da332a058
}
.articleField {
  background-color: azure;
  margin: 10px;
  height: 680px;
}
.commentField {
  background-color: azure;
  margin: 10px 10px 10px 0;
  height: 680px;}

div .d-flex{
  margin-top: 50px;
}
div .d-flex div:nth-child(1) {
<<<<<<< HEAD
  background-color: chocolate;
}
div .d-flex div:nth-child(2) {
  background-color: blue;
}
div .d-flex div:nth-child(3) {
  background-color: green;
}
div .d-flex div:nth-child(4) {
  background-color: red;
}
div .d-flex div:nth-child(5) {
  background-color: yellow;
=======
  background-color: #ffd199;
}
div .d-flex div:nth-child(2) {
  background-color: #99a3ff;
}
div .d-flex div:nth-child(3) {
  background-color: #99ff9f;
}
div .d-flex div:nth-child(4) {
  background-color: #ff99ac;
}
div .d-flex div:nth-child(5) {
  background-color: black;
>>>>>>> d062d3d49b9086f0a99f591e8718104da332a058
}
/* main .leftColumnFeild {
  flex: 1;
  background-color: #eee;
} */

footer {
  height: 180px;
  background-color: #888;
  margin-top: 20px;
}

.no-gutters {
  padding:0;
}

/* .cText {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
} */


/* sukeのテスト */
.contents{
<<<<<<< HEAD
  background:chocolate;
}
.web{
  background:blue;
}
.graphic{
  background:green;
}
.movie{
  background:red;
=======
  background:#ffd199;
}
.web{
  background:#99a3ff;
}
.graphic{
  background:#99ff9f;
}
.movie{
  background:#ff99ac;
>>>>>>> d062d3d49b9086f0a99f591e8718104da332a058
}