body {
  display: flex;
  flex-direction: column;
}

header {
  height: 250px;
  background-color: #888;
  color: #fff;
}

/* main {
  display: flex;
  min-height: 100vh;
  margin-top: 10px;
} */

main .mainContentFeild {
  height: 600px;
  flex: 2.2;
  background-color: rgb(194, 194, 48);
  color: #fff;
}

main .leftColumnFeild {
  flex: 1;
  background-color: #eee;
}

footer {
  height: 180px;
  background-color: #888;
}

.cText {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}