/* #indexWindow {
  width: 960px;
  height: 720px;
  margin: auto;
  border:dashed 1px black;
} */

#indexTitle {
  margin-top: 70px;
  text-align: center;
}

#indexMargin {
  height: 50px;
}

#indexButton {
  /* margin-top: 50px; */
  text-align: center;
}

#indexButton div:nth-child(n) {
  margin-top: 15px;
}

body {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: beige;
}

.nightBG {
  background-image: url(../image/yozora.png);
}
.afternoonBG {
  background-image: url(../image/yuugure.png);
}
.morningBG {
  background-image: url(../image/aozora-test.jpg);
}