body {
  background-color: #87ceeb;
}

#indexWindow {
  width: 800px;
  height: 600px;
  margin: auto;
  border:dashed 1px black;
}

#indexTitle {
  margin-top: 100px;
  text-align: center;
  border:dashed 1px black;
}

#indexButton {
  margin-top: 100px;
  text-align: center;
  border:dashed 1px black;
}

#indexButton div:nth-child(n) {
  margin-top: 30px;
}