@charset "utf-8";
body {
    background-image: url("../image/aozora1.png");
    background-size: 1950px 1800px;
    background-repeat: no-repeat;
    background-position: 0 1000px;
}

#wrapper {
    width:100%;
    overflow:hidden;
  }

.header {
    width: 100%;
    padding: 5px 0px;
    background-color: #0cf;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-bottom: 2px solid #3080B5;
}

.dummy {
    position: static;
}

.login {
    float: left;
    margin-right: 30px;
    background-color: #f90;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
}

/* ログイン後 */
.mypage{
  float: left;
  margin-right: 30px;
  background-color: #f90;
  color:#fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 4px;
}

.btn a:visited {
    color: #fff;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

.sinki {
    float: right;
    background-color: #c06;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
}

.header-left {
    float: left;
    margin: 10px 0px 0px 10px;
}

.header-right {
    float: right;
    margin: 22px 30px;
}

.home_daimei {
    width: 300px;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

main {
    position: relative;
}

#back {
    position: relative;
    top: 50px;
    left: 70px;
}

#center {
    text-align: center;
}

section {
    position: absolute;
    left: 750px;
    top: 250px;
    padding: 30px 10px;
    background-color: rgb(247, 213, 112);
    border-radius: 600px;
    min-width: 350px;
    /* -------いったん高さとる--------- */
    width: 100px;
    height: 290px;
}

#space {
    position: relative;
    height: 900px;
    background-image: url("../../../image/manehaikei.jpg");
    background-size: 1950px 1000px;
}

#btn0{
    display: none;
}

#inner{
    width: 1000px;
    position: relative;
}

#panel{
    position: absolute;
    top:150px;
    left: 40px;
    background-color: #fff3b7;
    width: 650px;
    height: 478px;
    opacity: 0.9;
}

.soudai{
    height:30px;
    font-size: 20px;
    
}

.souken{
    font-size: 80px;
    height: 300px;
}

.btn1 {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #F29089;/*背景色*/
    border-bottom: solid 2px #E07860;/*少し濃い目の色に*/
    border-radius: 10px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 45px;
  }
  
  .btn1:active {
    border-bottom: solid 2px #F29089;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }


  .rule{
    width:650px;
    position: absolute;
    top: 150px;
    left: 1200px;
    opacity: 0.9;
  }

#profil {
    text-align: center;
    padding-top: 15px;
}

#toukouitiran {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px 50px;
    display: inline-block;
    border-radius: 80px;
    text-align: center;
    margin-left: 25%;
    /* ここ*/
    width: 800px;
}

#toukouitiran h1 {
    background-color: #0cf;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 30px;
    color: #fff;
}

#good {
    background-color: #0cf;
    display: inline-block;
    float: right;
    font-size: 30px;
    margin-right: 50px;
    border-radius: 20px;
    width: 200px;
    color: #fff;
}

#sougood_dai {
    font-size: 50px;
}

#sougood {
    float: right;
}

#toukou {
    background-color: #0cf;
    display: inline-block;
    float: right;
    font-size: 30px;
    margin-right: 15px;
    border-radius: 20px;
    width: 200px;
    color: #fff;
}

#soutoukou_dai {
    font-size: 50px;
}

#soutoukou {
    float: right;
}

#puro_text {
    margin-top: 10px;
}

#nikku {
    text-align: center;
    font-size: 30px;
}

#gakka {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

#matome {
    margin-right: 50px;
}

#parson {
    width: 150px;
}

#toukouPanel {
    margin: 10px 10px;
    float: left;
    width: 770px;
    height: auto;
    border: solid 5px #ffffff;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

table.toukou {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    width: 100%;
    border: solid 1px black;
    margin-bottom: 20px;
}

table.toukou td {
    border: solid 1px black;
}

.comment_none {
    display: none;
}

.comment_none li {
    list-style-type: none;
}


/*----------編集・削除ボタン----------*/

.menuButton {
    position: relative;
}

.menuInfo {
    display: none;
    position: absolute;
    top: -4px;
    left: 76px;
    border: 1px solid #000;
    width: 60px;
    /*60px*/
    height: 50px;
    /*50px*/
    padding: 0;
    line-height: 20px;
    background-color: #0cf;
}

.menuInfo ul {
    padding: 0;
    margin: 5px 0;
    text-align: center;
}

.menuInfo li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menuInfo li:hover {
    border-bottom: 2px dotted #000;
}


/*----------編集・削除ボタンここまで----------*/


/*----------活動実績ここから----------*/

.jelly {
    position: absolute;
    display: none;
}

#area_js {
    /* background: red; */
    position: absolute;
    width: 100%;
    height: 200px;
    top: 620px;
    
}

#main_js {
    overflow: hidden;
}


/*----------活動実績ここまで----------*/

.fa-thumbs-up:hover,.fa-comment:hover,.fa-cog:hover{
    opacity: 0.5;
}




footer {
    width: 100%;
    background-color: #0cf;
    text-align: center;
    border-top: 2px solid #3080B5;
}

footer ul {
    margin: 0px;
}

footer ul li {
    display: inline-block;
    margin: 40px 60px;
    font-weight: bold;
}

footer ul li a {
    color: #fff;
}

footer ul li a:visited {
    color: #fff;
}

.dummy {
    position: static;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#nikku_dai {
    color: #45A1CF;
    font-size: 40px;
    padding: 0% 10%;
    text-align: center;
}


@media screen and (max-width:900px) { 
    
    #btn0{
        display: block;
        position: relative;
        width: 700px;
    }

    .to_home{
        position: absolute;
        top: 600px;
        left: 100px;
    }
    
    .to_rule{
        position: absolute;
        top: 600px;
        left: 400px;
      }

      #area_js {
          display:none;
      }

    .iti{
        display: none;
    }

    section{
        position: relative;
        top: 200px;
        left: 140px;
    }
    
     #good {
        
        margin-right: 15px;
    }
    #toukouitiran {
        width: 100%;
        padding-left: 0px;
        
        margin-left: 0px;
    }
     
}

@media screen and (max-width:560px) {
    
    .to_home{
        position: absolute;
        top: 600px;
        left: 230px;
    }
    .to_rule{
        position: absolute;
        top: 700px;
        left: 250px;
      }
}