@charset "utf-8";
@import url('./loading.css');
body {
    background-image: url(../image/aozora1.png);
    background-size: 1950px 2400px;
    background-repeat: no-repeat;
}

#warp {
    width: 960px;
    margin: 30px auto;
}

.header {
    width: 100%;
    padding: 5px 0px;
    background-color: #0cf;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    border-bottom: 2px solid #3080B5;
}

.dummy {
    position: static;
}

.home_daimei {
    width: 300px;
}

.login {
    float: left;
    margin-right: 30px;
    background-color: #f90;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
}


/* ログイン後 */


/* .mypage{
    float: left;
    margin-right: 30px;
    background-color: #f90;
    color:#fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
}
   */

.btn a:visited {
    color: #fff;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

.janru:hover {
    cursor: pointer;
}

#toukou0 {
    position: fixed;
    bottom: 10.5%;
    right: 0%;
}

#toukou1 {
    position: fixed;
    bottom: 11%;
    right: 0%;
    opacity: 0;
}

#toukou_button img {
    width: 200px;
    height: 160px;
}

#toukou1:hover {
    opacity: 1;
}

.sinki {
    float: right;
    background-color: #c06;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    border-radius: 4px;
}

.header-left {
    float: left;
    margin: 10px 0px 0px 10px;
}

.header-right {
    float: right;
    margin: 22px 30px;
}

/*コンテンツページの大元の位置*/
#contens {
    margin: 0px 20%;
    position: relative;
    top: 0;
    left: 0;
}

/*大元のコンテンツの横幅の設定*/
.navBox {
    position: relative;
    /* ここ -----------*/
    width: 950px;
    margin: 100px;
}

/*タブを横並びに整列させる*/
.navBox input {
    cursor: pointer;
}

input[type="radio"]{
display:none;
}

/*アイコンの位置*/
.navBox i {
    margin-top: 6px;
}

/*アイコンを選択するタブの幅と大きさ*/
.navBox label {
    background: -webkit-gradient(linear, left top, left bottm, from(#cb8f4b), to(#cfa060));
    border-radius: 8px 8px 0 0;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1), -2px 0 6px rgba(0, 0, 0, 0.1);
    color: #fffaf0;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    width: 117px;
    height: 44px;
    margin: 0 3px 0 0;
    padding: 0 10px;
}

/*アイコンhome～videoまでの色*/
.navBox label.label01 {
    /*立体感を出すために少しだけ左にマージンをいれました*/
    margin-left: 14px;
    background-color: #b22222;
}

.navBox label.label02 {
    background-color: #008b8b;
}

.navBox label.label03 {
    background-color: #ffcc33;
}

.navBox label.label04 {
    background-color: #2e8b57;
}

/*アイコン選択時の色設定*/
.navBox label:after {
    background: #ffffff;
    display: block;
    left: 0;
    bottom: -5px;
    position: absolute;
    width: 100%;
}

.navBox input:checked+label {
    background: #f5deb3;
    color: #ffffff;
}

/*大元のホームコンテンツ内の装飾*/
.navBox .homeContent {
    background: #f5deb3;
    border-radius: 10px;
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.navBox .homeContent section {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 50px 20px;
}
/*------------怪しい-------------*/
.navBox input.menu01:checked~.homeContent .homeContent .clearfix,
.navBox input.menu02:checked~.homeContent .content02,
.navBox input.menu03:checked~.homeContent .content03,
.navBox input.menu04:checked~.homeContent .content04 {
    opacity: 1;
    -webkit-transition: all ease-out 0.4s 0.4s;
    transition: all ease-out 0.4s 0.4s;
}
/*------------------------------*/
.homeContent {
    width: 850px;
    height: auto;
    margin: 0 auto 50px auto;
    position: relative;
    z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 3px;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.toukouPanel {
    margin: 10px 10px;
    float: left;
    /* ここ投稿囲う枠------------------ */
    width: 600px;
    height: auto;
    border: solid 5px #ffffff;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

.toukouPanel p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #996633;
    font-weight: bold;
    border-bottom: thick solid #ffffff;
    border-radius: 5px;
}

table.toukou tr:nth-child(2){
    height: 250px;
} 

.commentPanel {
    margin: 10px 10px;
    float: right;
    width: 290px;
    height: auto;
    border: solid 5px #ffffff;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}

.commentPanel p {
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    background-color: #996633;
    font-weight: bold;
    border-bottom: thick solid #ffffff;
    border-radius: 5px;
}

table.toukou {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    margin: 5px 10px 10px 15px;
    /* ここ------------------------- */
    width: 570px;
    height: 330px;
    font-weight: bold;
    color: #111111;/*文字色*/
    background:#f5deb3;
    border: solid 3px #996633;/*線*/
    border-radius: 10px;/*角の丸み*/ 
}

.fa-thumbs-up{
    margin-bottom: 7px;
}

.fa-comment{
    margin-bottom: 7px;
}

table.toukou td {
    border: solid 1px #996633;
    border-radius: 5px;
}

table.comment {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    margin: 5px 5px 10px 10px;
    width: 270px;
    height: 200px;
    border: solid 1px black;
}


/* コメント表示機能 */

.comment_none {
    display: none;
}

.comment_none li {
    list-style-type: none;
    height: auto;
    position: relative;
    font-weight: bold;
    color: #111111;/*文字色*/
    background:#f5deb3;
    border: solid 2px #996633;/*線*/
    border-radius: 10px;/*角の丸み*/ 
}

.userName{
    font-size: 20px;
    font-weight: bold;
}

#parson{
    width: 28px;
    position: relative;
    left: 8px;
    top: 38px;
    padding: 0;
}

.circle{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: skyblue;/*背景色*/
    display: inline-block;
    margin: 0;
    left: 100px;
    top: 5px;
}


/*ここまで*/

/**/
.newComment{
    text-align: left;
    margin: 5px 3px;
}

/*----------ローディング画面----------*/

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    /*変化速度*/
    background-color: rgba(0, 204, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#load_position {
    position: relative;
    top: 50%;
}

#loader {
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loaded {
    opacity: 0;
    visibility: hidden;
    /*要素の消すわけじゃなく隠す(存在はする)*/
}


/*------------ここまで----------------*/

footer {
    width: 100%;
    background-color: #0cf;
    text-align: center;
    min-width: 877px;
    border-top: 2px solid #3080B5;
}

footer ul {
    margin: 0px;
}

footer ul li {
    display: inline-block;
    margin: 40px 60px;
    font-weight: bold;
    color: #fff;
}

footer ul li a {
    color: #fff;
}

footer ul li a:visited {
    color: #fff;
}

#svgAttributes {
    position: absolute;
    left: 0%;
    bottom: 0%;
    right: 80%;
}