@charset "utf-8";

body{
  background-image: url("../image/aozora1.png");
  background-size: 1950px 1600px;
}

#warp{
    width: 960px;
    margin: 30px auto;
}

.header{
  width:100%;
  padding: 5px 0px;
  background-color:#0cf;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  border-bottom: 2px solid #3080B5;
}

.dummy{
  position: static;
}

.login{
  float: left;
  margin-right: 30px;
  background-color: #f90;
  color:#fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 4px;
}

/* ログイン後 */
.mypage{
  float: left;
  margin-right: 30px;
  background-color: #f90;
  color:#fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 4px;
}



.btn a:visited{
  color:#fff;
}

.btn a{
  text-decoration: none;
  color: #fff;
}
.btn:hover{
  opacity: 0.8;
}

.sinki{
  float:right;
  background-color: #c06;
  color:#fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 4px;
}

.header-left{
  float: left;
    margin: 10px 0px 0px 10px;
}

.header-right{
    float: right;
    margin: 22px 30px;
}

.home_daimei{
  width: 300px;
}

.clearfix::after{
  display: block;
  content:"";
  clear: both;
}

.post_daimei{
  color: #45A1CF;
  font-size: 40px;
 }

 #post_syoudai {
  text-align: center;
}


  #content{
    width: 958px;
    /* height: 850px; */
    border: dashed 1px #999;
    margin: 10px 0;
  }

.homeContent{
  min-width: 600px;
  max-width: 890px;
  /* height: 90%; */
  margin: 100px auto 50px auto;
  border-radius: 10px;
  background: #f5deb3;
  clear: both;
  position: relative;
}

.clearfix::after{
  display: block;
  content:"";
  clear: both;
}

.toukouPanel{
  margin: auto;
  margin-top: 20px;
  min-width: 600px;
  max-width: 890px;
  border: solid 5px #ffffff;/*線*/
  border-radius: 10px;/*角の丸み*/
}

table.toukou{
    /* table-layout: fixed; */
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    min-width: 600px;
    max-width: 900px;
    /* max-height: 80%; */
    margin: auto;
    border-style: none;
}

table.toukou td{
    border: solid 3px  #996633;
    border-radius: 4px;
    width: 400px;
    min-width: 250px;
}

.genre select{
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.genre select::-ms-expand {
    display: none;
}
.genre{
  text-align: center;
  width: 100%;
  color: #ffffff;
  border-radius: 2px;
  border-radius: 50px;
  background: #d38334;
  border: solid 2px rgb(121, 55, 8);/*少し濃い目の色に*/
}


.genre::before {
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}

.genre select {
	padding: 8px 38px 8px 8px;
	color: #ffffff;
}

input[type="text1"]{
  border: 2px solid #996633;  /* 枠線 */
  border-radius: 2px;   /* 角丸 */
  padding: 2px;          /* 内側の余白量 */
  background-color:  #FFFFFF;  /* 背景色 */
  /* width: 20em;       */
}

.test{
  max-width: 250px;
}

.imageText{
  width:100%;
  height:100%;
  font-family: bold;
  font-size: 20px;
}
/*D&Dここから*/
.imageInput{
  display:none;
  width:100%;
  height:100%;
}
.input_span{
  float: left;
  width: 28%;
  height:60%;
  resize: none;
  border: 2px solid #996633;  /* 枠線 */
  border-radius: 2px;   /* 角丸 */
  padding: 2px;          /* 内側の余白量 */
  margin-left:15px;
  margin-right:5px;
}
.input_span img{
  /* width:100%;
  height:100%; */
  max-width:100%;
  max-height:100%;
}
.dropCSS{
  background:#996633;
}
.mouseCSS{
  cursor:pointer;
}
/*D&Dここまで*/

.setumeiText{
  width: 97%;
  height: 90%;
  resize: none;
  border: 2px solid #996633;  /* 枠線 */
  border-radius: 2px;   /* 角丸 */
  padding: 2px;          /* 内側の余白量 */
  background-color:  #FFFFFF;  /* 背景色 */
}


.imageText::placeholder{
  background-image: url(../image/favicon.png);
  text-align: center;
  font-size: 120px;
  background-repeat: no-repeat;
}

.STimg{
  text-align: center;
  margin: 10px auto;
}


.STbtn{
  background-color: #d38334;
  margin: 50px auto;
  max-width: 50px;
  min-width: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  padding: 0.5em 1em;
  border-bottom: solid 2px rgb(121, 55, 8);/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.STbtnChild{
  display: inline-block;
}

.STbtn:active {
  border-bottom: solid 5px  #996633;
  box-shadow: 0 2px 2px rgb(121, 55, 8);
}


footer{
    width:100%;
    background-color:#0cf;
    text-align: center;
    border-top: 2px solid #3080B5;
  }

  footer ul {
    margin: 0px;
  }


  footer ul li{
    display: inline-block;
    margin:40px 60px;
    font-weight: bold;
    color: #fff;
  }

  footer ul li a:visited{
      color: #fff;
  }


